/*corps de la page*/
body {
    background-color: #0D0D0D;/*Font declarer dans figma*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*à changer après*/
    text-align: center;/*Centre le texte*/
    color: white;/*Couleur du texte*/
    margin: 0;/*marge externe*/
    padding: 0; /*marge interne*/
}
/*Titre principal*/
h1 {
    font-size: 3rem;/*je me suis servis d'index.html*/
    font-weight: 600;/*Ici aussi*/
    text-align: left;
    margin: 30px;/*Espacement externe*/
}
/*Sous-titre et descriptions*/
p{
    font-weight: 500;
    color: grey;
    font-size: 1rem;
    text-align: left;
    margin: 30px;/*Espacement externe*/
}
/*titre des catégories*/
h2 {
    font-size: 1rem;
    font-weight: 300;
}
/*grille des catégories*/
.grid-container {
    display: grid;/*activation de la grid*/
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;/*espace entre les cellules*/
    padding: 30px;/*marge interne*/
}
/*Style des catégories*/
.card {
    position: relative;/*Le déplacement est relative à sa position origine*/
    background-color: #101827;/*Dans figma*/
    border-radius: 20px;/*Coin arrondi aussi dans figma*/
    overflow: hidden;/*Permet de cacher les dépassement*/
    cursor: pointer;/*Sert à changer le pointeur en main pour préciser que c'est cliquable*/

}
.card img {
    width: 100%;/*Largeur*/
    height: 70%;/*hauteur*/
    display: block;/*Supprime les espaces en bas de l'image*/
}
