@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
:root {
    /* light mode */
    --light-bg: #FAFAFA;
    --light-alt-bg: #fff;
    --light-color: #000;
    --light-border: #E3E3E3;
    /* dark mode */
    --dark-bg: #0D0D0D;
    --dark-alt-bg: #000;
    --dark-color: #fff;
    --dark-border: #2B2B2B;
    /* SkillUp pink */
    --skillup-pink: #A042F0;
    --skillup-alt-pink: #EDE3FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
}