@import url("assets.css"); /*copier coller cette ligne dans votre fichier css*/

/*Au niveau des couleurs, vous devez utiliser au maximum les variables définies dans assets.css. (que vous importez sur la ligne précédente*/

/*Pour les utiliser voilà un exemple :*/

body{
    background-color: var(--bg); /*ici l'arrière plan du body sera défini en fonction de la variable --bg ce qui nous permet d'avoir une adaptation theme clair ou sombre et à avoir des couleurs harmonieuses entre nos page*/

    /*exemple 2*/
    color : #fff; /*à éviter au maximum !!!!!!!*/
    color : var(--color); /*Ce que vous devez faire*/
} 