@import url("assets.css");
@import url("responsive.css");

    body {
        background-color: var(--bg);
        color: var(--color);
        width:100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Onest", sans-serif;
    }
    nav {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px;
        background-color: var(--alt-bg);
        border-bottom: solid 1px var(--border);
    }
    nav ul {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 5%;
    }
    nav a {
        text-decoration: none;
        color: var(--color);
        font-family: "Onset", sans-serif;
    }
    .logo{
        display: inline-flex;
        justify-items: left;
    }

    main {
        padding: 20px;
    }

    .liste{
        list-style:none;
        padding: 0;
        margin: 0;
    }

    .resultat{
        background-color: var(--bg);
        color:var(--color);
        border: var(--border) solid 1px;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
        transition: background-color 300ms ease, background-image 125ms ease, color 125ms ease, border-color 300ms ease;
    }
    
    .titre{
        color: var(--color);
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    .description{
        color: var(--alt-color);
        font-size: 0.95em;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .info{
        color: var(--alt-color);
        font-size: 0.85em;
    }
    
    .info span{
        margin-right: 15px;
    }

    .resultat hover{
        background-color: var(--alt-color);
        cursor: pointer;
    }

    .barre{
        display: flex;
        gap:10px;
        background-color: var(--bg);
        padding: 15px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        justify-content: center;
    }

    .barre input [type="text"] {
        color:var(--alt-color);
        text-align: left;
        border: none;
        outline: none;
    }

    select{
        color: var(--color);
        border: 1 px var(--border) solid var(--color);
        border-radius: 5px;
        padding: 8px 15px;
        font-size:0.9em;
        background-color: var(--bg);
        cursor:pointer;
    }

    button{
        background-color: var(--bg);
        color:var(--color);
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 300ms ease, background-image 125ms ease, color 125ms ease, border-color 300ms ease;
    }

    button:hover {
        background-color: var(--alt-bg);
    }
    











    
    












