@import url("assets.css");

body {
    background-color: var(--bg);
    font-family: "Onest", sans-serif;
    color : var(--color);
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
}

header{
    body {
        background-color: var(--bg);
        color: var(--color);
        width:100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px;
        background-color: var(--alt-bg);
        border-bottom: solid 1px var(--border);
    }
    nav ul {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 5%;
    }
    nav a {
        text-decoration: none;
        color: var(--color);
    }
    .logo{
        display: inline-flex;
        justify-items: left;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    justify-content: center;
    box-sizing:border-box;
}

.cas{
    background-color: var(--bg);
    color:var(--color);
    border-radius: var(--radius);
    border: var(--border);
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    .cas hover{
        background-color: var(--alt-color);
        cursor: pointer;
    }
    .cas img{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    h2, p{
        font-family: "Onest", sans-serif;
        font-optical-sizing: auto;
        color: var(--color);
    }
}
