@import url("assets.css");
body{
    background-color: var(--alt-bg);
    color: var(--color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: 0px;
    background-color: var(--bg);
    color: var(--color);
}
a{
    text-decoration: none;
}
.infos{
    display: flex;
    flex-direction: column;
    background-color: var(--alt-bg);
    width: 40%;
    max-width: 600px;
    align-items: left;
    justify-content: left;
    border-radius: var(--radius);
    border: none;
    text-align: left;
}
.infos .user-info{
    border: 2px var(--border) solid;
    border-radius: var(--radius);
    padding-bottom: 10px;
}
.change-info{
    border: 2px var(--border) solid;
    border-radius: var(--radius);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
input{
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg);
    border: var(--border) 1px solid;
    border-radius: var(--radius);
    height: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    color: var(--color);
    padding: 21px 11px; 
    margin-top: 10px;
}
.delete-account{
    border: 2px var(--border) solid;
    border-radius: var(--radius);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.delete-account button{
    background-color: #DF2E4E;
    border: 0px;
}
.infos .headband{
    background-color: var(--skillup-pink);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    position: relative;
}
.infos .headband .cross{
    font-size: 25px;
    color: var(--bg);
}
.avatar{
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.avatar:hover{
    filter: brightness(40%);
    transition: 250ms ease-in;
}
.infos button{
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius);
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;

}
#generatePopup{
    float: left;
    width: auto;
    margin: 0px;
    padding-top: 0px;
}
.headband button{
    float: left;
    background-color: transparent;
    margin-right: 0px;
    margin-left: 0px
}
.infos h2{
    padding-left: 1%;
    padding-top: 15px;
    font-size: 25px;
}
.infos p{
    padding-left: 1%;
    font-size: 16px;
}
.blurred-bg{
    background-color: var(--alt-bg);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.popup{
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 100;
    background-color: var(--alt-bg);
    border: var(--border) solid 1px;
    border-radius: var(--radius);
    width: 40%;
    max-width: 600px;
    min-height: 120px;
    padding: 10px;
}
.cross{
    margin: none;
    position: absolute; 
    top: 5px;
    right: 5px;
    color: var(--color);
    background-color: transparent;
    border: none;
    width: auto;
    padding: none;
}
.popup button{
    background-color: var(--alt-bg);
    border: var(--border) solid 1px;
    color: var(--color);
    border-radius: var(--radius);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 98%;
    font-size: 15px;
    margin-top: 10px;
}
.popup label{
    margin: 5px;
}
.popup h2{
    padding-top: 25px;
    padding: 5px;
    font-size: 18px;
}
.popup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: auto;
    border-radius: 100px;
    border: var(--border) solid 1px;
}
.popup .avatar-container{
    display: flex;
    align-items: center;
    gap: 10px; 
}
.popup .avatar-container p{
    font-size: 25px;
    font-weight: bolder;
}
.popup #agreeAvatar{
    width: 45%;
}
.loading-part{
    display: none;
    text-align: center;
    margin-top: 1px;
}
.loading-part #spinner{
    width: 40px;
    height: 40px;
    border: 3px solid var(--border);
    border-top-color: var(--alt-bg);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#message-pop h2{
    margin: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
#message-pop p{
    font-size: 18px;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}
#message-pop button{
    float: right;
    width: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 3%;
}
#message-pop button:hover{
    background-color: var(--border);
    transition: 500ms ease-in-out;
}
.popup .button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
    padding-top : 20px
}
.popup .button-container button{
    float: right;
    margin: 5px;
    width: 20%;
}
.popup .button-container form{
    float: right;
    margin: 5px;
    width: 20%;
}
.popup .button-container form button{
    width: 100%;
    margin: 0;
}
.popup .button-container #delete{
    background-color: #DF2E4E;
}
.popup .button-container button:hover{
    background-color: var(--border);
    transition: 500ms ease-in-out;
}
#delete-check h2{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
#delete-check p{
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
}

/*reset password*/
.reset{
    border: solid 1px var(--border);
    padding: 20px;
    border-radius: var(--radius);
    width: 40%;
    max-width: 600px;
    display: block;
    position: relative;
}
.reset h1{
    padding: 12px;
    padding-left: 0px;
}
.reset button{
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius);
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}
.print-message{
    text-align: center;
    background-color: var(--skillup-pink);
    color: #fff;
    width: 200px;
    height: auto;
    padding: 8px;
    border-radius: var(--radius);
    margin: 20px;

}
#reset {
    flex-direction: column;
}
.reset .cross{
    font-size: 25px;
    padding: 10px;
    padding-top: 20px
}